.body{
    width:100%;
}
/*header-------------------------------------------*/

.header::before, .header::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    z-index: 1;
  }
  
  .header::before {
    width: 55%;
    height: 109%;
    background-color: #f8f4e6;
    right: 0%;
    top: 59%;
  }
  .header::after {
    width: 55%;
    height: 100%;
    background-color:#b78884;
    top: 29%;
    
  }


.header{
    background-color: #b78884;
    color:#fff;
    height:135px;
    width:100%;
    position: absolute;
    width: 98.9%;
    background: #b78884;

}


.header-list{
    padding-top:55px;
    color:#fff;
}

.header-logo{
    position: absolute;
    top:20px;
    left:150px;
    z-index: 2;
}

.snshead a{
    color:#b78884;
    text-decoration: none;
    font-size:45px;
    z-index:10;
    position: relative;
    top:20px;
    
}

.snshead a:hover{
    color: #b94047;
}

.ge{
    margin-left:1100px;
}



/*main----------------------------------------*/

.main{
    color:#2c4f54;
    background-color: #f8f4e6;
}

li{
    list-style: none;
    float:left;
    padding-right:45px;
    
    
}

.contents-item{
    position: relative;
}

.inner{
    opacity: 0.6;
    position:absolute;
    border:solid 2px;
    width:95%;
    height:63%;
    top:322px;
    left:35px;
    color:white
}

.contents-item img{
   margin-top:21%;
}



.btnwrapper{
    display:inline-block;
    margin:0 auto;
}



.btn{
    color:white;
    background-color: #b78884;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    padding:5px 14px;
    font-size:30px;
    text-decoration: none;

}

.profile{
    position:absolute;
    top:1000px;
    left:250px;

}

.liveinformation{
    position: absolute;
    top:1000px;
    right:630px;
}

.mv{
    position: absolute;
    top:1000px;
    right:330px;;
}

.btn:hover{
    opacity:1;
}

.contents{
    height:650px;
    padding-bottom: 500px;
}

.contents-detail{
    height:4100px;
    font-size :40px;
}

.prof{
    padding:0px 10px 300px 10px;
}

.prof h2{
    font-size:80px;
    text-align:center;
    padding:20px 40px;
    border-bottom:solid 9px;
    display:inline-block;
    margin-left:34%;
    
   
}

.prof img{
    border-radius: 40px;
}

.prof p{
    float:right;
    clear:right;
    font-family: "M PLUS Rounded 1c";
    margin-top:0px;
}

.liveinfo{
    padding:0px 10px 350px 10px;
    height:1500px;
    
}

.liveinfo h2{
    font-size:80px;
    text-align: center;
    border-bottom: solid 9px;
    padding:20px 40px;
    display:inline-block;
    margin:5% 20%;

    
    
}

.liveinfo li{
    float:left;
    clear:left;
}

.asylum{
    padding-top:20px;
    padding-bottom:40px;
    width:68%;
    height:200px;
    background-color: #fffff0;
    opacity:0.8;
    border-radius:10px;
    margin-top:50px;
    margin-bottom: 50px;
    
}

.iine{
    padding-top:10px;
    padding-bottom:40px;
    width:87%;
    height:200px;
    background-color: #fff5ee;
    opacity:0.8;
    border-radius:10px;
    
    margin-top:50px;
    margin-bottom: 50px;
    margin:0 0 0 auto;
    
}

.bokura{
    padding-top:10px;
    padding-bottom:40px;
    width:60%;
    height:200px;
    background-color: #fffff0;
    opacity:0.8;
    border-radius:10px;
    margin-top:50px;
    margin-bottom: 50px;
    
}

.sensen{
    padding-top:10px;
    padding-bottom:40px;
    width:60%;
    height:200px;
    background-color: #fff5ee;
    opacity:0.8;
    border-radius:10px;
    margin-top:50px;
    margin-bottom: 50px;
    margin:0 0 0 auto;
}



.mvlink{
    padding:0px 10px 100px 10px;
}

.mvlink h2{
    font-size:80px;
    text-align:center;
    border-bottom: solid 9px;
    padding:20px 40px;
    display:inline-block;
    margin:20px 29% 10% 32%;
    

}

.douga{
    text-align: center;
}

.top a{
    color:white;
    text-align: center;
    padding:10px 20px;
    background-color: #b78884;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    font-size:40px;
    position:absolute;
    top:4800px;
    left:640px;
    text-decoration: none;
}

.top a:hover{
    opacity:1;
}




/*footer-----------------------------------------------*/
.footer-logo{
    font-size:30px;
    float:left;
    padding-left: 20px;
    padding-top:15px;
}
.footer-list{
    float:right;
    font-size: 20px;
    
    
}
.footer{
    background-color: #b78884;
    color:#fff;
    height:80px;
    
}

.sns{
    padding-top:17px;
}
.sns a{
    color:white;
    padding-left:50px;
    text-decoration: none;
    opacity:1;
    font-size:30px;
}

.sns a:hover{
    color: #fde8d0;
}

/*----------------------------------------------------*/

@media screen and (max-width:480px) {
.main{
  font-size: 20px;
}
}